In [1]:
import duckdb
import streamlit

In [7]:
ncd_df = duckdb.read_csv('../data/NationalCataractData.csv')
duckdb.sql('SELECT * FROM ncd_df LIMIT 10')

┌──────────────────────┬─────────┬─────────┬───┬──────────────────────┬──────────────────────┬────────────────────┐
│      TrustName       │ ODSCode │ Country │ … │ CaseComplexityInde…  │ UnadjustedVALossRate │ AdjustedVALossRate │
│       varchar        │ varchar │ varchar │   │        double        │        double        │       double       │
├──────────────────────┼─────────┼─────────┼───┼──────────────────────┼──────────────────────┼────────────────────┤
│ Moorfields Eye Hos…  │ RP6     │ ENGLAND │ … │                 0.74 │                 0.37 │               0.45 │
│ The Newcastle Upon…  │ RTD     │ ENGLAND │ … │                 0.78 │                 0.46 │               0.53 │
│ Norfolk and Norwic…  │ RM1     │ ENGLAND │ … │                 NULL │                 NULL │               NULL │
│ Leeds Teaching Hos…  │ RR8     │ ENGLAND │ … │                 1.05 │                 0.58 │                0.5 │
│ York Teaching Hosp…  │ RCB     │ ENGLAND │ … │                 1.05 │                 0.41 │               0.35 │
│ Oxford University …  │ RTH     │ ENGLAND │ … │                 NULL │                 NULL │               NULL │
│ University Hospita…  │ RA7     │ ENGLAND │ … │                 1.08 │                 0.97 │                0.8 │
│ Gloucestershire Ho…  │ RTE     │ ENGLAND │ … │                 0.88 │                  0.6 │               0.61 │
│ Sheffield Teaching…  │ RHQ     │ ENGLAND │ … │                 0.93 │                  0.8 │               0.78 │
│ Sandwell and West …  │ RXK     │ ENGLAND │ … │                 0.84 │                 0.74 │                0.8 │
├──────────────────────┴─────────┴─────────┴───┴──────────────────────┴──────────────────────┴────────────────────┤
│ 10 rows                                                                                    43 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [16]:
est_df = duckdb.read_csv('../data/est_prop_cataracts_la.csv')
duckdb.sql('SELECT * FROM est_df LIMIT 10').df()

,Local Authority,Estimated proportion of people living with cataract,Latitude,Longitude,Estimated indirect cost of sight loss,Estimated indirect cost of sight loss per person,Estimated number of adults with diabetes,Estimated number of people living with cataract,"Estimated number of people living with Drusen, an early stage age-related macular degeneration",Estimated number of people living with late stage age-related macular degeneration,...,Total number of people registered partially sighted,Total population,Total population aged 0-4,Total population aged 18-29,Total population aged 30-49,Total population aged 5-17,Total population aged 50-64,Total population aged 65-74,Total population aged 75-84,Total population aged 85+
0,Armagh,0.007634,54.348750,-6.651610,4170000,70.28,3376,453,1985,415,...,-,59340,4309,9587,16233,10631,10158,4771,2696,955
1,Moyle,0.008974,55.114938,-6.153784,1383000,81.11,1062,153,669,138,...,-,17050,1053,2471,4480,2862,3263,1693,887,341
2,Larne,0.009136,54.857500,-5.809860,2692000,83.64,2033,294,1283,272,...,-,32180,1860,4533,8807,5178,6318,3050,1791,643
3,Ballymoney,0.007879,55.072030,-6.516990,2244000,71.88,1821,246,1067,224,...,-,31224,2110,4837,9067,5396,5162,2602,1550,500
4,Castlereagh,0.010128,54.577180,-5.888210,5919000,88.03,4225,681,2747,634,...,-,67242,4051,9255,19552,10589,11981,5965,4305,1544
5,Carrickfergus,0.008488,54.726187,-5.810121,3065000,78.37,2398,332,1457,307,...,-,39114,2350,5625,11131,6488,7267,3501,2040,712
6,Antrim,0.006719,54.719534,-6.207250,3451000,64.59,3007,359,1659,326,...,-,53428,3975,8308,15636,9470,8968,4189,2151,731
7,Banbridge,0.007447,54.348729,-6.270480,3370000,69.72,2767,360,1580,328,...,-,48339,3661,7104,14254,8497,8127,3724,2170,802
8,Strabane,0.007454,54.827269,-7.463579,2733000,68.60,2279,297,1308,268,...,-,39843,2685,6109,11450,7365,6647,3177,1827,583
9,Cookstown,0.006998,54.641020,-6.744280,2419000,65.35,2010,259,1131,236,...,-,37013,2802,6501,10448,6604,5900,2684,1510,564